@import url('폰트URL');

* {
    font-family: "Noto Sans KR", sans-serif;
}


.bannerhere {
    width: 100%;
    height: 360px;
    background-color: green;
    color: white;
    background-image: url(https://drive.usercontent.google.com/download?id=1FSLSqJOeIxQEh11RGjXm7gXeuIXqUxnW&export=view&authuser=0);
    background-size: cover;
    background-position: center;
}

.cardhere {
    width: 100%;
    height: 500px;
    background-color: aquamarine;
}

.cheerhere {
    width: 80%;
    height: 400px;
    margin: 0 10% 0 10%;
    background-color: burlywood;
}

.intdhere {
    width: 80%;
    height: 300px;
    margin: 0 10% 0 10%;
    background-color: coral;
}